@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/    
}
body{
    background-image: linear-gradient(to right,#5207F278,#AB05F2);

}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, white;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color:#5207F2 ;
    text-align: center;
    text-shadow: 1px, 1px, 2px, #23D9B7;
}
h2{
    color:#7D07F2 ;
}
p{
    text-align: justify;
}